body {
  margin: 0;
  background: #383535;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #fff;
}

button {
  padding: 1rem;
  background: #fff;
  border: none;
  border-radius: .3rem;
  cursor: pointer;
  text-transform: uppercase;
  font-size: .875rem;
  font-weight: bold;
}

button:hover {
  background: rgba(255, 255, 255, .8);
}

button:active {
  transform: scale(.98);
}

.main {
  max-width: 1000px;
  min-width: 600px;
  margin: auto;
}

.admin-panel {
  margin-top: 2rem;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, .4);
  border-radius: 1rem;
}

.admin-panel .admin-panel-header {
  padding: 1rem 0;
  border: 1px solid rgba(255, 255, 255, .4);
  border-width: 0 0 1px 0;
  background: rgba(0, 0, 0, 0.7);
}

.admin-panel .admin-panel-header h3 {
  margin: 0px;
}

.admin-panel .admin-panel-body {
  padding: 2rem;
  background: rgba(0, 0, 0, 0.5);
}

.loading {
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, .7);
  font-size: 2rem;
  font-weight: bold;
}

.message {
  border: 1px solid #CCC;
  border-radius: .3rem;
  padding: 1rem;
  margin-bottom: 1rem;
}

.message.warning {
  border-color: rgb(202, 187, 47);
  background: rgb(202, 187, 47, .2);
  color: #cabb2f;
}

.message.danger {
  border-color: rgb(202, 47, 55);
  color: #ca2f37;
  background: rgb(202, 47, 55, .2);
  font-weight: bold;
}